@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-size: 20px;
  background-color: azure;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.App {
  display: flex;
  background-color: rgb(249, 246, 246);
  justify-content: space-between;
}

.view-audience {
  width: 100vw;
  border: 1px solid black;
  display: flex;
  justify-content: start;
  flex-direction: column;
  height: 100vh;
  background-color: #969696;
  overflow: hidden;
}

.view-audience h1 {
  background-color: rgb(30, 179, 179);
  justify-self: flex-start;
  margin-top: 0%;
  font-size: large;
  font-weight: bolder;
  display: flex;
  padding-left: 2%;
  align-items: center;
  width: 100%;
  color: aliceblue;
  height: 6%;
}

.saving-segment h1 {
  background-color: rgb(30, 179, 179);
  color: aliceblue;
  display: flex;
  align-items: center;
  font-size: large;
  font-weight: bolder;
  text-align: center;
  width: 100%;
  height: 6%;
  justify-self: flex-start;
  margin-top: 0%;
  margin-bottom: 2%;
  padding-left: 2%;
}

.view-audience button {
  background-color: #969696;
  color: aliceblue;
  width: 130px;
  height: 40px;
  font-weight: bold;
  margin-left: 70px;
  border: 2px solid white;
  border-radius: 3px;
}

.saving-segment {
  border: 1px solid black;
  width: 40vw;
  display: flex;
  justify-content: start;
  flex-direction: column;
  background-color: rgb(249, 246, 246);
  overflow: hidden;
}

.segment-form input {
  width: 80%;
  margin-top: 5%;
  padding-left: 15px;
}

.segment-form {
  display: flex;
  flex-direction: column;
  gap: 10%;
  padding-left: 10px;
}

.selected-schemas {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(43, 144, 226);
  height: 40vh;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 15px;
  overflow: hidden;
}

.drop-down {
  overflow-y: scroll;
}
.drop-box {
  width: 80%;
}
.selected-schemas button {
  margin-left: 6px;
  height: 1.3em;
}

.add-schema {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.add-schema button {
  color: rgb(89, 218, 89);
  border-bottom: 2px solid rgb(5, 98, 28);
  border-top: 0px;
  font-weight: bolder;
  border-left: 0px;
  border-right: 0px;
  background-color: aliceblue;
  align-self: self-start;
  margin-left: 10%;
}

.send-form {
  justify-self: stretch;
  margin-top: 20px;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(232, 221, 221, 0.614);
  gap: 5%;
  overflow: hidden;
}
.save-button {
  width: 200px;
  height: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  border-radius: 3px;
  background-color: rgb(85, 188, 131);
  color: azure;
}
.cancel-button {
  width: 200px;
  height: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  border-radius: 3px;
  background-color: rgb(248, 248, 248);
  color: rgb(228, 85, 85);
}

@media screen and (max-width: 420px) {
  .saving-segment {
    width: 100vw;
  }
  body {
    height: 50;
  }
}
